@import '@fontsource/barlow/100.css';
@import '@fontsource/barlow/200.css';
@import '@fontsource/barlow/300.css';
@import '@fontsource/barlow/400.css';
@import '@fontsource/barlow/500.css';
@import '@fontsource/barlow/600.css';
@import '@fontsource/barlow/700.css';
@import '@fontsource/barlow/800.css';
@import '@fontsource/barlow/900.css';

body {
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
